{% extends "layouts/layout.twig" %}

{% block title %}ホーム{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
    <div class="hero-section">
        <!-- ヒーロー画像が必要: エンジニアリングをテーマにした画像 (サイズ: 1200x400px) -->
        <img src="/img/home/mv.webp" alt="トップページ MV 画像" class="hero-image" />
        <div class="hero-content">
            <h1>Nave-wata's ブログ</h1>
            <p>エンジニアリングの知識や備忘録などを気が向けば投稿します</p>
        </div>
    </div>

    <div class="about-section">
        <h2>Nave-wataについて</h2>
        <div class="about-content">
            <div class="about-text">
                <p>新卒{{ job_age }}年目（25卒）のサーバサイドエンジニアです。</p>
                <p>メインはサーバサイドの開発ですが、フロント側やインフラ側についてもある程度触れてきたことがあります（ただしデザインは大の苦手です...）。プログラミングは大学生になる前くらいから本格的に始めていたので、歴としては約{{ engineer_age }}年になります。</p>
                <br/>
                <p>このサイトでは、以前から放置してきたレンタルサーバを活用するために、技術系のブログでも投稿していこうかと考えております。まだまだひよっこですので間違った内容を投稿することもあるかと思いますが、温かい目で見守ってください。</p>
                <a href="/about" class="about-link">詳しく見る</a>
            </div>
            <div class="about-image">
                <img src="/img/author/nave-wata.webp" alt="Nave-wataについて" width="240" height="240"/>
            </div>
        </div>
    </div>
{% endblock %}
