{% extends "layouts/layout.twig" %}

{% block title %}ホーム - Nave-Wata{% endblock %}

{% block content %}
    <h2>ようこそ Nave-Wata へ</h2>
    <p>
        このサイトは Slim PHP フレームワークと Twig テンプレートエンジンを使用して構築されています。
    </p>
    <div class="features">
        <h3>特徴</h3>
        <ul>
            <li>軽量で高速な Slim フレームワーク</li>
            <li>柔軟で強力な Twig テンプレートエンジン</li>
            <li>モダンな PHP 開発手法</li>
        </ul>
    </div>
{% endblock %}